.footer-colums{
    display: flex;
}
.footer-colum{
    flex: 50%;
    margin: 20px;
}
header, footer{
    background-color: rgb(204, 180, 227);
    padding: 10px;
}
main{
    padding: 10px;
    background-color: blueviolet;
}
.post{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}
.post img{
    margin: 20px;
}
.post2{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}
.post2 img{
    margin: 20px;
}
.comm{
    background-color: rgb(152, 129, 174);
    padding: 20px;
    border-radius: 10px;
    margin-top:10px;
}
.author{
    margin-top:0px;
    margin-bottom: 10px;
}
.data{
    color: rgb(79, 109, 109);
    margin-top:0px;
    margin-bottom: 10px;
}
#otvet{
    margin-left: 40px;
}
#ot1{
    margin-left: 40px;
}
#ot2{
    margin-left: 80px;
}

#menu1{
position: relative;
display: block;
width: 100%;
height: auto;
z-index: 10px;
}

#menu1 ul{
    position: relative;
    display: block;
    margin: 0%;
    padding: 0px;
    width: 100%;
    height: auto;
    list-style: none;
}
#menu1 ul li a{
    display: block;
    padding: 9px 25px 0px 25px;
    font-size: 14px;
    line-height: 1.3em;
    text-decoration: none;
    font-weight: bold;
    height: 36px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);

}
#menu1 ul li ul{
    position: absolute;
    top: 36px;
    left: 0px;
    display: none;
    width: 200px;
    background-color: plum;
}